
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Find Us!</h3>
            <nav class="footer-nav">
              <ul>
                <li><a href="https://groups.google.com/forum/#!forum/chimera-art-space">Email Newsgroup</a></li>
                <li><a href="https://www.facebook.com/ChimeraArtSpace">Facebook Page</a></li>
                <li><a href="https://www.facebook.com/groups/chimera.art.space/">Facebook Group</a></li>
                <li><a href="http://www.meetup.com/Chimera-Arts-Maker-Space/">Meetup.com</a></li>
                <li><a href="https://twitter.com/ChimeraArtSpace">Twitter</a></li>
                <li><a href="http://www.flickr.com/photos/99370619@N05/">Flickr</a></li>
                <li><a href="http://bit.ly/chimera-tshirt">Buy a T-Shirt!</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-6">
            <h3>Found typos? Content missing?</h3>
            <p>
              Our website's content is open source.
              Please either <a href="https://github.com/chimera/chimeraarts.org" targe="_blank">fork the repository</a>
              or <a href="https://github.com/chimera/chimeraarts.org/issues" targe="_blank">create an issue</a>.
            </p>
            <p class="text-muted">&copy; 2014 Chimera Art Space</p>
          </div>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
