    </div>
    <div class="container">
      <footer class="page-footer">
        <nav class="footer-nav">
          <ul class="nav nav-pills">
            <li><a href="https://groups.google.com/forum/#!forum/chimera-art-space">Email Newsgroup</a></li>
            <li><a href="https://www.facebook.com/ChimeraArtSpace">Facebook Page</a></li>
            <li><a href="https://www.facebook.com/groups/chimera.art.space/">Facebook Group</a></li>
            <li><a href="http://www.meetup.com/Chimera-Arts-Maker-Space/">Meetup.com</a></li>
            <li><a href="https://twitter.com/ChimeraArtSpace">Twitter</a></li>
            <li><a href="http://bit.ly/chimera-tshirt">Buy a T-Shirt!</a></li>
          </ul>
        </nav>

        <p class="pull-right text-muted">&copy; 2014 Chimera Art Space</p>
        
        <p class="text-muted">
          <strong>Found typos? Content missing?</strong>
          <br>
          Our website's content is open source.
          Please either <a href="https://github.com/chimera/chimeraarts.org" targe="_blank">fork the repo</a>
          or <a href="https://github.com/chimera/chimeraarts.org/issues" targe="_blank">create an issue</a>.
        </p>
      </footer>
    </div>
    {{ template "chrome/analytics.html" . }}
  </body>
</html>
